{{>header}}
<div id="intro">
    <img src="https://fontmeme.com/permalink/200604/4b9d3388289ed7a8cb934ba49ff2299a.png" alt="netflist-logo" border="0"
        id="netflist">
    <p id="intro-text">Browse and create lists with Netflix movies, shows and episodes.</p>
    <div id="buttons">

        <a href="#all-lists"><input type="button" class="browse-btn button" value="Browse Lists"></a><a
            href="/login"><input type="button" class="create-btn button" value="Create List"></a>
    </div>


</div>
<div id="all-lists">
    <p class="title">All lists:</p>
    <div id="lists">
        {{#each lists}}
            <div class="list-landing">
                <a href="/list/{{this._id}}">
                    <div class="image-preview">
                        <img src="{{this.titles.0.image}}" class="first">
                        <div class="wrapper"> <img src="{{this.titles.1.image}}"
                                onerror="this.src = '/images/no-preview-1.png';" class="overlap second"></div>

                        <img src="{{this.titles.2.image}}" onerror="this.src = '/images/no-preview-2.png';"
                            class="overlap third">
                    </div>
                    <div class="p">{{this.name}}</div>
                </a>
            </div>

        {{/each}}


    </div>
</div>
