<script src="/scripts/list.js"></script>
<div id="split-page">
    <div id="left">
        <form action="/create" method="post">
            <button type="submit" name="newList" value="">Create new list</button>
        </form>
        <button type="submit" name="editLists" id="edit-lists">Edit lists</button>


        <h2>Playlists created by {{user.name}}</h2>

        <div id="lists">
            {{#each lists}}
                <div class="list"> <a href="javascript:generateList('{{this._id}}')">

                        <div class="image-preview">
                            <img src="{{this.titles.0.image}}" class="first">
                            <div class="wrapper"> <img src="{{this.titles.1.image}}"
                                    onerror="this.src = `/images/no-preview-${1}.png`;" class="overlap second"></div>

                            <img src="{{this.titles.2.image}}" onerror="this.src = `/images/no-preview-${2}.png`;"
                                class="overlap third">
                        </div>
                        <div class="p">{{this.name}}</div>

                    </a>
                    <div class="buttons hidden">
                        <button type="submit" name="edit" class="edit-list">edit</button><button type="submit"
                            name="delete" class="delete-btn">delete</button>
                    </div>

                </div>
            {{/each}}
        </div>
    </div>

    <div id="right"></div>


</div>
